@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');

body {
	background-color: rgba(244,244,244,0.5);
}
.wrapper {
	display: grid;
	grid-template-columns: 5fr 3fr;
}

.main-header {
	position: fixed;
	grid-column-start: 1;
	grid-column-end: 3;
}

.site-sidebar {
	margin-right: 200px;
	margin-top: 100px;
	position: fixed;
	right: 0px;
	width: 270px;
}

.site-main {
	margin-left: 200px;
	margin-right: 20px;
	margin-top: 100px;
}